
<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h1 class="text-3xl font-bold text-center mb-6 text-blue-800">Perfil</h1>
    <p class="text-lg mb-4 text-gray-800 tracking-tight"><span class="font-bold tracking-tight text-blue-800">Nombre:</span> {{user.name}}</p>
    <p class="text-lg mb-6 text-gray-800 tracking-tight"><span class="font-bold tracking-tight text-blue-800">Rol:</span> {{user.role}}</p>
    <a href="/api/sessions/logout">
      <button id="logoutButton" class="w-full bg-blue-700 hover:bg-blue-900 text-sm font-semibold text-white py-2.5 px-4 rounded">
        Logout
      </button>
    </a>
  </div>
</div>